Fallback to `.well-known/oauth-protected-resource` on 401s without `WWW-Authenticate`

here we assume that we are given a `WWW-Authenticate`:

https://github.com/microsoft/vscode/blob/ba1d4ea9dd01fc6eff24764c1630bd0bd5b51a50/src/vs/workbench/api/common/extHostMcp.ts#L321-L351

in order to fetch the PRM (protected resource metadata)

... if we don't get that `WWW-Authenticate` we just assume there's no PRM.

But instead, we should look at `.well-known/oauth-protected-resource`

Here's what the spec says:

> #### Protected Resource Metadata Discovery Requirements
> 
> MCP servers **MUST** implement one of the following discovery mechanisms to provide authorization server location information to MCP clients:
> 
> 1. **WWW-Authenticate Header**: Include the resource metadata URL in the `WWW-Authenticate` HTTP header under `resource_metadata` when returning `401 Unauthorized` responses, as described in [RFC9728 Section 5.1](https://datatracker.ietf.org/doc/html/rfc9728#name-www-authenticate-response).
>
> 2. **Well-Known URI**: Serve metadata at a well-known URI as specified in [RFC9728](https://datatracker.ietf.org/doc/html/rfc9728). This can be either:
>   * At the path of the server's MCP endpoint: `https://example.com/public/mcp` could host metadata at `https://example.com/.well-known/oauth-protected-resource/public/mcp`
>   * At the root: `https://example.com/.well-known/oauth-protected-resource`
>
> MCP clients **MUST** support both discovery mechanisms and use the resource metadata URL from the parsed WWW-Authenticate headers when present; otherwise, they **MUST** fall back to constructing and requesting the well-known URIs in the order listed above.