Top level array in json document highlighted as invalid JSON


Issue Type: <b>Bug</b>

## Steps to Reproduce:

1. Create a JSON file (e.g. `foo.json`)
2. Create a valid JSON document with a top level array (e.g. `["a","b","c"]`)

Does this issue occur when all extensions are disabled?: **Yes**

## Expected result:

Nice and clean syntax highlighting. This is a valid RFC 8259, RFC 7159, RFC 4627, and ECMA-404 JSON document.

## Observed result:

VS Code orange-shouting at me for having an invalid JSON document.

VS Code version: Code 1.43.2 (0ba0ca52957102ca3527cf479571617f0de6ed50, 2020-03-24T07:52:11.516Z)
OS version: Ubuntu 18.04.4 (Linux x64 5.3.0-42-generic)

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 2790)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>flash_stage3d_baseline: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads: enabled_on<br>oop_rasterization: disabled_off<br>protected_video_decode: unavailable_off<br>rasterization: disabled_software<br>skia_renderer: disabled_off_ok<br>video_decode: unavailable_off<br>viz_display_compositor: enabled_on<br>viz_hit_test_surface_layer: disabled_off_ok<br>webgl: enabled<br>webgl2: enabled|
|Load (avg)|1, 1, 1|
|Memory (System)|15.54GB (1.78GB free)|
|Process Argv|--no-sandbox --unity-launch|
|Screen Reader|no|
|VM|0%|
</details><details><summary>Extensions (20)</summary>

Extension|Author (truncated)|Version
---|---|---
better-toml|bun|0.3.2
rest-client|hum|0.23.2
vscode-docker|ms-|1.0.0
csharp|ms-|1.21.16
python|ms-|2020.3.71113
remote-containers|ms-|0.106.0
remote-ssh|ms-|0.51.0
remote-ssh-edit|ms-|0.51.0
remote-wsl|ms-|0.42.4
vscode-remote-extensionpack|ms-|0.20.0
azure-account|ms-|0.8.8
cpptools|ms-|0.27.0
vscode-yaml|red|0.7.2
cmake|twx|0.0.17
azure-iot-edge|vsc|1.20.0
azure-iot-toolkit|vsc|2.16.0
azure-iot-tools|vsc|0.3.0
vscode-iot-device-cube|vsc|0.2.0
vscode-iot-workbench|vsc|0.13.0
debug|web|0.24.0


</details>
<!-- generated by issue reporter -->

I don't see anything wrong:
![image](https://user-images.githubusercontent.com/6461412/78342896-4fa75080-759a-11ea-92cb-5c5151c1151a.png)

Does it reproduce when you run with extensions disabled? Command `Developer: Reload with Extensions Disabled`

As per my report, I tried with extensions disabled and it does reproduce there as well.

![json](https://i.imgur.com/xzARjNG.png)


This comes from the validation against a JSON schema. Do you have a schema association of in your user settings?

Doesn't look like that to me. `settings.json`:
```json
{
    "C_Cpp.updateChannel": "Insiders",
    "csharp.referencesCodeLens.enabled": false,
    "[cpp]": {
        "editor.autoIndent": true,
        "editor.detectIndentation": false,
        "editor.tabSize": 4
    },
    "files.autoSave": "off",
    "workbench.startupEditor": "none",
    "extensions.ignoreRecommendations": true
}
```
FWIW the pull available YAML schemas from JSON schema option is selected in the settings window.

I just tried on a fresh install 1.43.2. Does not happen for me out of the box.

- Also check you workspace settings.
- what's the full path of the file?
 
To find out what associations are configured,
- set `"json.trace.server": "verbose",
- open the file
- reload the window 
- open Output > JSON language server
- search for json/schemaAssociations
- copy that whole section and paste it here


Clean workspace, path is `~/_clean/foo.json`. `settings.json` set to:
```json
{
    "C_Cpp.updateChannel": "Insiders",
    "csharp.referencesCodeLens.enabled": false,
    "[cpp]": {
        "editor.autoIndent": true,
        "editor.detectIndentation": false,
        "editor.tabSize": 4
    },
    "files.autoSave": "off",
    "workbench.startupEditor": "none",
    "extensions.ignoreRecommendations": true,
    "json.trace.server": "verbose"
}
```

<details>
<summary>schema associations</summary>

```json
[Trace - 5:43:58 PM] Sending notification 'json/schemaAssociations'.
Params: {
    "vscode://defaultsettings/keybindings.json": [
        "vscode://schemas/keybindings"
    ],
    "/User/keybindings.json": [
        "vscode://schemas/keybindings"
    ],
    "vscode://defaultsettings/*/*.json": [
        "vscode://schemas/settings/default"
    ],
    "/User/settings.json": [
        "vscode://schemas/settings/user"
    ],
    "/Machine/settings.json": [
        "vscode://schemas/settings/machine"
    ],
    "/Workspaces/*/workspace.json": [
        "vscode://schemas/workspaceConfig"
    ],
    "/**/*.code-workspace": [
        "vscode://schemas/workspaceConfig"
    ],
    "/**/argv.json": [
        "vscode://schemas/argv"
    ],
    "/.vscode/settings.json": [
        "vscode://schemas/settings/folder"
    ],
    "/.vscode/launch.json": [
        "vscode://schemas/launch"
    ],
    "/.vscode/tasks.json": [
        "vscode://schemas/tasks"
    ],
    "/User/tasks.json": [
        "vscode://schemas/tasks"
    ],
    "/User/snippets/*.json": [
        "vscode://schemas/snippets"
    ],
    "/**/*.code-snippets": [
        "vscode://schemas/global-snippets"
    ],
    "/.vscode/extensions.json": [
        "vscode://schemas/extensions"
    ],
    "/.devcontainer/devcontainer.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/devContainer.schema.json"
    ],
    "/.devcontainer.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/devContainer.schema.json"
    ],
    "/User/globalStorage/ms-vscode-remote.remote-containers/imageConfigs/*.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/attachContainer.schema.json"
    ],
    "/*.css-data.json": [
        "https://raw.githubusercontent.com/Microsoft/vscode-css-languageservice/master/docs/customData.schema.json"
    ],
    "/package.json": [
        "file:///usr/share/code/resources/app/extensions/css-language-features/schemas/package.schema.json",
        "vscode://schemas/vscode-extensions",
        "file:///usr/share/code/resources/app/extensions/html-language-features/schemas/package.schema.json",
        "file:///usr/share/code/resources/app/extensions/markdown-language-features/schemas/package.schema.json",
        "https://schemastore.azurewebsites.net/schemas/json/package.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/package.schema.json"
    ],
    "/*language-configuration.json": [
        "vscode://schemas/language-configuration"
    ],
    "/*icon-theme.json": [
        "vscode://schemas/icon-theme"
    ],
    "/*color-theme.json": [
        "vscode://schemas/color-theme"
    ],
    "/*.html-data.json": [
        "https://raw.githubusercontent.com/Microsoft/vscode-html-languageservice/master/docs/customData.schema.json"
    ],
    "/*.schema.json": [
        "http://json-schema.org/draft-07/schema#"
    ],
    "/bower.json": [
        "https://schemastore.azurewebsites.net/schemas/json/bower.json"
    ],
    "/composer.json": [
        "https://getcomposer.org/schema.json"
    ],
    "/tsconfig.json": [
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json"
    ],
    "/tsconfig.*.json": [
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json"
    ],
    "/tsconfig-*.json": [
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json",
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json"
    ],
    "/typings.json": [
        "https://schemastore.azurewebsites.net/schemas/json/typings.json"
    ],
    "/.bowerrc": [
        "https://schemastore.azurewebsites.net/schemas/json/bowerrc.json"
    ],
    "/.babelrc": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/.babelrc.json": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/babel.config.json": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/jsconfig.json": [
        "https://schemastore.azurewebsites.net/schemas/json/jsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/jsconfig.schema.json"
    ],
    "/jsconfig.*.json": [
        "https://schemastore.azurewebsites.net/schemas/json/jsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/jsconfig.schema.json"
    ],
    "/project.json": [
        "http://json.schemastore.org/project"
    ],
    "/omnisharp.json": [
        "http://json.schemastore.org/omnisharp"
    ],
    "/.condarc": [
        "file:///home/dominik/.vscode/extensions/ms-python.python-2020.3.71659/schemas/condarc.json"
    ],
    "/environment.yml": [
        "file:///home/dominik/.vscode/extensions/ms-python.python-2020.3.71659/schemas/conda-environment.json"
    ],
    "/meta.yaml": [
        "file:///home/dominik/.vscode/extensions/ms-python.python-2020.3.71659/schemas/conda-meta.json"
    ],
    "/c_cpp_properties.json": [
        "cpptools-schema:///c_cpp_properties.schema.json"
    ],
    "/deployment.template.json": [
        "http://json.schemastore.org/azure-iot-edge-deployment-template-2.0"
    ],
    "/deployment.*.template.json": [
        "http://json.schemastore.org/azure-iot-edge-deployment-template-2.0"
    ],
    "/*.json": [
        "file:///home/dominik/.vscode/extensions/vsciot-vscode.vscode-iot-workbench-0.13.0/resources/pnp/templates/emptySchema.json"
    ]
}
```

</details>

I suspect then that this is this one:
```json
    "/*.json": [
        "file:///home/dominik/.vscode/extensions/vsciot-vscode.vscode-iot-workbench-0.13.0/resources/pnp/templates/emptySchema.json"
    ]
```

contents:

```json
{
  "type": "object"
}
```

But this is also present when running `code --disable-extensions`:

<details>
<summary>schema associations</summary>

```json
[Trace - 5:57:35 PM] Sending notification 'json/schemaAssociations'.
Params: {
    "vscode://defaultsettings/keybindings.json": [
        "vscode://schemas/keybindings"
    ],
    "/User/keybindings.json": [
        "vscode://schemas/keybindings"
    ],
    "vscode://defaultsettings/*/*.json": [
        "vscode://schemas/settings/default"
    ],
    "/User/settings.json": [
        "vscode://schemas/settings/user"
    ],
    "/Machine/settings.json": [
        "vscode://schemas/settings/machine"
    ],
    "/Workspaces/*/workspace.json": [
        "vscode://schemas/workspaceConfig"
    ],
    "/**/*.code-workspace": [
        "vscode://schemas/workspaceConfig"
    ],
    "/**/argv.json": [
        "vscode://schemas/argv"
    ],
    "/.vscode/settings.json": [
        "vscode://schemas/settings/folder"
    ],
    "/.vscode/launch.json": [
        "vscode://schemas/launch"
    ],
    "/.vscode/tasks.json": [
        "vscode://schemas/tasks"
    ],
    "/User/tasks.json": [
        "vscode://schemas/tasks"
    ],
    "/User/snippets/*.json": [
        "vscode://schemas/snippets"
    ],
    "/**/*.code-snippets": [
        "vscode://schemas/global-snippets"
    ],
    "/.vscode/extensions.json": [
        "vscode://schemas/extensions"
    ],
    "/.devcontainer/devcontainer.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/devContainer.schema.json"
    ],
    "/.devcontainer.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/devContainer.schema.json"
    ],
    "/User/globalStorage/ms-vscode-remote.remote-containers/imageConfigs/*.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/attachContainer.schema.json"
    ],
    "/*.css-data.json": [
        "https://raw.githubusercontent.com/Microsoft/vscode-css-languageservice/master/docs/customData.schema.json"
    ],
    "/package.json": [
        "file:///usr/share/code/resources/app/extensions/css-language-features/schemas/package.schema.json",
        "vscode://schemas/vscode-extensions",
        "file:///usr/share/code/resources/app/extensions/html-language-features/schemas/package.schema.json",
        "file:///usr/share/code/resources/app/extensions/markdown-language-features/schemas/package.schema.json",
        "https://schemastore.azurewebsites.net/schemas/json/package.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/package.schema.json"
    ],
    "/*language-configuration.json": [
        "vscode://schemas/language-configuration"
    ],
    "/*icon-theme.json": [
        "vscode://schemas/icon-theme"
    ],
    "/*color-theme.json": [
        "vscode://schemas/color-theme"
    ],
    "/*.html-data.json": [
        "https://raw.githubusercontent.com/Microsoft/vscode-html-languageservice/master/docs/customData.schema.json"
    ],
    "/*.schema.json": [
        "http://json-schema.org/draft-07/schema#"
    ],
    "/bower.json": [
        "https://schemastore.azurewebsites.net/schemas/json/bower.json"
    ],
    "/composer.json": [
        "https://getcomposer.org/schema.json"
    ],
    "/tsconfig.json": [
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json"
    ],
    "/tsconfig.*.json": [
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json"
    ],
    "/tsconfig-*.json": [
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json",
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json"
    ],
    "/typings.json": [
        "https://schemastore.azurewebsites.net/schemas/json/typings.json"
    ],
    "/.bowerrc": [
        "https://schemastore.azurewebsites.net/schemas/json/bowerrc.json"
    ],
    "/.babelrc": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/.babelrc.json": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/babel.config.json": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/jsconfig.json": [
        "https://schemastore.azurewebsites.net/schemas/json/jsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/jsconfig.schema.json"
    ],
    "/jsconfig.*.json": [
        "https://schemastore.azurewebsites.net/schemas/json/jsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/jsconfig.schema.json"
    ],
    "/project.json": [
        "http://json.schemastore.org/project"
    ],
    "/omnisharp.json": [
        "http://json.schemastore.org/omnisharp"
    ],
    "/.condarc": [
        "file:///home/dominik/.vscode/extensions/ms-python.python-2020.3.71659/schemas/condarc.json"
    ],
    "/environment.yml": [
        "file:///home/dominik/.vscode/extensions/ms-python.python-2020.3.71659/schemas/conda-environment.json"
    ],
    "/meta.yaml": [
        "file:///home/dominik/.vscode/extensions/ms-python.python-2020.3.71659/schemas/conda-meta.json"
    ],
    "/c_cpp_properties.json": [
        "cpptools-schema:///c_cpp_properties.schema.json"
    ],
    "/deployment.template.json": [
        "http://json.schemastore.org/azure-iot-edge-deployment-template-2.0"
    ],
    "/deployment.*.template.json": [
        "http://json.schemastore.org/azure-iot-edge-deployment-template-2.0"
    ],
    "/*.json": [
        "file:///home/dominik/.vscode/extensions/vsciot-vscode.vscode-iot-workbench-0.13.0/resources/pnp/templates/emptySchema.json"
    ]
}
```

</details>

Thanks a lot!

Hm, interesting. Looks like `code --disable-extensions` is not working for you. 
- What does the extensions view show. Any extensions in the `Enabled` section?
- Anything special on how you opened the window? Were there already VSCode windows open? Did you had to open a folder first?
- Did the `All extensions are temporarily disabled..` notification show?

I filed https://github.com/microsoft/vscode-iot-workbench/issues/958 against vsciot-vscode.vscode-iot-workbench for the schema association.



Notification at start:
![extension notification](https://i.imgur.com/cwjpv0j.png)

Running extensions:
![running extensions](https://i.imgur.com/vnd0NUt.png)

Enabled extensions:
![enabled extensions](https://i.imgur.com/goomOQL.png)

There's another instance of VS Code running in the background when I run `code --disable-extensions`, that one has extensions enabled.

I tried this w/o any instances lingering in the background. Running `code --disable-extensions` like this leads to the desired behavior. Associations from this run:

<details>
<summary>schema associations</summary>

```json

[Trace - 3:19:32 PM] Sending notification 'json/schemaAssociations'.
Params: {
    "vscode://defaultsettings/keybindings.json": [
        "vscode://schemas/keybindings"
    ],
    "/User/keybindings.json": [
        "vscode://schemas/keybindings"
    ],
    "vscode://defaultsettings/*/*.json": [
        "vscode://schemas/settings/default"
    ],
    "/User/settings.json": [
        "vscode://schemas/settings/user"
    ],
    "/Machine/settings.json": [
        "vscode://schemas/settings/machine"
    ],
    "/Workspaces/*/workspace.json": [
        "vscode://schemas/workspaceConfig"
    ],
    "/**/*.code-workspace": [
        "vscode://schemas/workspaceConfig"
    ],
    "/**/argv.json": [
        "vscode://schemas/argv"
    ],
    "/.vscode/settings.json": [
        "vscode://schemas/settings/folder"
    ],
    "/.vscode/launch.json": [
        "vscode://schemas/launch"
    ],
    "/.vscode/tasks.json": [
        "vscode://schemas/tasks"
    ],
    "/User/tasks.json": [
        "vscode://schemas/tasks"
    ],
    "/User/snippets/*.json": [
        "vscode://schemas/snippets"
    ],
    "/**/*.code-snippets": [
        "vscode://schemas/global-snippets"
    ],
    "/.vscode/extensions.json": [
        "vscode://schemas/extensions"
    ],
    "/.devcontainer/devcontainer.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/devContainer.schema.json"
    ],
    "/.devcontainer.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/devContainer.schema.json"
    ],
    "/User/globalStorage/ms-vscode-remote.remote-containers/imageConfigs/*.json": [
        "file:///usr/share/code/resources/app/extensions/configuration-editing/schemas/attachContainer.schema.json"
    ],
    "/*.css-data.json": [
        "https://raw.githubusercontent.com/Microsoft/vscode-css-languageservice/master/docs/customData.schema.json"
    ],
    "/package.json": [
        "file:///usr/share/code/resources/app/extensions/css-language-features/schemas/package.schema.json",
        "vscode://schemas/vscode-extensions",
        "file:///usr/share/code/resources/app/extensions/html-language-features/schemas/package.schema.json",
        "file:///usr/share/code/resources/app/extensions/markdown-language-features/schemas/package.schema.json",
        "https://schemastore.azurewebsites.net/schemas/json/package.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/package.schema.json"
    ],
    "/*language-configuration.json": [
        "vscode://schemas/language-configuration"
    ],
    "/*icon-theme.json": [
        "vscode://schemas/icon-theme"
    ],
    "/*color-theme.json": [
        "vscode://schemas/color-theme"
    ],
    "/*.html-data.json": [
        "https://raw.githubusercontent.com/Microsoft/vscode-html-languageservice/master/docs/customData.schema.json"
    ],
    "/*.schema.json": [
        "http://json-schema.org/draft-07/schema#"
    ],
    "/bower.json": [
        "https://schemastore.azurewebsites.net/schemas/json/bower.json"
    ],
    "/composer.json": [
        "https://getcomposer.org/schema.json"
    ],
    "/tsconfig.json": [
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json"
    ],
    "/tsconfig.*.json": [
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json"
    ],
    "/tsconfig-*.json": [
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/tsconfig.schema.json",
        "https://schemastore.azurewebsites.net/schemas/json/tsconfig.json"
    ],
    "/typings.json": [
        "https://schemastore.azurewebsites.net/schemas/json/typings.json"
    ],
    "/.bowerrc": [
        "https://schemastore.azurewebsites.net/schemas/json/bowerrc.json"
    ],
    "/.babelrc": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/.babelrc.json": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/babel.config.json": [
        "https://schemastore.azurewebsites.net/schemas/json/babelrc.json"
    ],
    "/jsconfig.json": [
        "https://schemastore.azurewebsites.net/schemas/json/jsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/jsconfig.schema.json"
    ],
    "/jsconfig.*.json": [
        "https://schemastore.azurewebsites.net/schemas/json/jsconfig.json",
        "file:///usr/share/code/resources/app/extensions/typescript-language-features/schemas/jsconfig.schema.json"
    ]
}
```

</details>

The screenshots show that all custom extensions are disabled. Now what does the JSON trace show?
Make sure to not reload the window (e.g. by opening a folder). I found a bug for that:  #94534



Is there a way I can verify that these two are the same?

Here are my steps:
- install extension vsciot-vscode.vscode-iot-workbench
- open a first window with all extensions enabled
- open a second window with extensions disabled (from command line: `code --disable-extensions`)
- verify that in the second window the hover appear (all extensions temporarily...)
- verify that in the second window the extensions view shows no extensions enabled
- verify that in the second window opening an unsaved file and set it to JSON with content [] will not give you an error. 
- in the second window, open a new folder (File > Open Folder)
- in the second window the extensions view shows extensions enabled
- in the second window opening an unsaved file and set it to JSON with content [] will give you an error. 


Closing as dup of https://github.com/microsoft/vscode-iot-workbench/issues/958 and https://github.com/microsoft/vscode/issues/94759